<div class="row">
  <div class="four columns" markdown="1">
    ![image.jpg](/image.jpg)
  </div>
  <div class="four columns" markdown="1">
    ![image.jpg](/image.jpg)
  </div>
  <div class="four columns" markdown="1">
    ![image.jpg](/image.jpg)
  </div>
</div>
