<footer class="site-footer h-card">
  <div class="container">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
      <div class="row">
        <div class="twelve columns">
          {% include social.html %}
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          © 2020 <a href="mailto:{{ site.email }}">{{ site.author | escape }}</a> "{{ site.title | escape }}" Visos teisės saugomos.
        </div>
      </div>
    </div>
  </div>
</footer>
