<script defer src="{{ 'assets/vendor/macy.js' | relative_url }}"></script>
<script>
  window.onload = function () {
    Macy({
      container: '.post-list',
      columns: 2,
      margin: {
        x: 15,
        y: 15
      },
      trueOrder: true,
      breakAt: {
        550: {
          columns: 1
        }
      }
    });
  };
</script>

<div class="posts">
  {% assign posts = "" | split: "" %}
  {% assign included_tags = include.tags | split: "," %}

  {% for tag in included_tags %}
    {% assign posts = posts | concat: site.tags[tag] %}
  {% endfor %}

  {% assign posts = posts | uniq | sort: "date" | reverse %}

  <div class="row">
    <div class="post-list">
      {% for post in posts %}
        {% include post.html post=post %}
      {% endfor %}
    </div>
  </div>
</div>