.social-media-list {
  li {
    display: inline;
    padding: 15px;
  }
}

@media (max-width: 550px) {
  .social-media-list {
    li {
      display: block;
      padding: 0 15px;
    }
  }
}

.site-footer {
  text-align: center;
}
