.banner-container {
  height: 40vh;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;

  @include media-query($on-laptop) {
    height: 30vh;
  }

  @include media-query($on-palm) {
    height: 20vh;
  }
}

.banner {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.post-cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 15px;
}

.post-link {
  background: transparentize($background-color, 0.1);
  font-variant: small-caps;
  margin: -30px 20px;
  position: relative;
  text-decoration: none;
  text-align: center;
  z-index: 10;
}

.post-categories {
  color: $primary-color;
  text-align: center;
  padding: 10px;
}

.post-meta {
  color: lighten($text-color, 30%);
  padding: 40px 0 10px;
  text-align: center;
}

.post-meta::after {
  content: "";
  width: 120px;
  height: 1px;
  background: $primary-color;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-list {
  .post {
    margin: 0 0 15px;
  }
}
