---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "home";

.parallax {
  /* The image used */
  background-image: url("images/background_scaled.png");

  /* Set a specific height */
  height: 50vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position-x: center;
  background-repeat: no-repeat;
  text-align: center;

  // a, a:visited {
  //   text-decoration: none;
  // }

  .banner-container {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    width: 800px;
  }

  .banner {
    border: 3px double black;
  }
}

.parallax:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
