---
layout: default
---

<script defer src="{{ 'assets/vendor/macy.js' | relative_url }}"></script>
<script>
  window.onload = function () {
    Macy({
      container: '.post-list',
      columns: 2,
      margin: {
        x: 15,
        y: 15
      },
      trueOrder: true,
      breakAt: {
        550: {
          columns: 1
        }
      }
    });
  };
</script>

<div class="home">
  {{ content }}

  {% if site.posts.size > 0 %}
    <div class="row">
      <div class="post-list">
        {% for post in site.posts %}
          {% include post.html post=post %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>