---
layout: default
---

<div class="home">
  {{ content }}

  {% if site.posts.size > 0 %}
    <ul class="post-list">
      <div class="row">
        <div class="one-half column">
          {% for post in site.posts %}
            {% assign even_element = forloop.index | modulo:2 %}
            {% if even_element == 1 %}
              {% include post.html post=post %}
            {% endif %}
          {% endfor %}
        </div>
        <div class="one-half column">
          {% for post in site.posts %}
            {% assign even_element = forloop.index | modulo:2 %}
            {% if even_element == 0 %}
              {% include post.html post=post %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </ul>
  {% endif %}

</div>
